@using SimchaFund.Data
@model ContributionsViewModel

<div b-2ya7vgwtda class="container">
    <main b-2ya7vgwtda role="main" class="pb-3" style="margin-top: 60px;">

        <div class="header">
            <h1>
                Contributors for the @Model.Simcha.Name
                 simcha
            </h1>
        </div>

        <div class="table-responsive">
            <form method="POST" action="/simchas/updatecontributions">
                <input type="hidden" name="simchaId" value="@Model.Simcha.Id" />
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Contribute</th>
                        <th>Name</th>
                        <th>Balance</th>
                        <th>Always Include</th>
                        <th>Amount</th>
                    </tr>



                    @for(int i = 0 ; i < Model.Contributors.Count; i++)
                    {

                        var c = Model.Contributors[i];

                        <input type="hidden" name="contributors[@i].ContributorId" value="@c.Id" />

                        <tr>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <div class="form-check form-switch">
                                        <input style="width: 4rem; height: 2rem;" name="contributors[@i].Include" class="form-check-input" type="checkbox" value="true" @(c.AlwaysInclude || c.Contributed ? "checked" : "")
                                       
                                        />
                                        
                                    </div>
                                </div>
                            </td>
                            <td>@Model.Contributors[i].LastName @Model.Contributors[i].FirstName</td>
                            <td>  $@(Model.Contributors[i].TotalDeposited - Model.Contributors[i].TotalContributed).00</td>
                            <td style="text-align: center;">

                                @if (c.AlwaysInclude)
                                {
                                    <i class="bi bi-check-lg"></i>
                                }

                            </td>
                            <td>
                                <input type="text" name="contributors[@i].Amount" class="form-control" value="5" />
                            </td>
                        </tr>

                       
                    }
                </table>
                <div style="text-align:center;">
                    <button class="btn-lg btn-danger">Update</button>
                </div>
            </form>
        </div>
    </main>
</div>
